# Project exclude paths
/venv/
/home/
.env
/media/
/cian_parser/webdriver/opera_driver/opera_profile/opera1/Cache/
/cian_parser/webdriver/opera_driver/opera_profile/opera2/Cache/
/cian_parser/webdriver/opera_driver/opera_profile/opera3/Cache/
/cian_parser/webdriver/opera_driver/opera_profile/opera4/Cache/
/cian_parser/webdriver/opera_driver/opera_profile/opera5/Cache/
