.at-video-embed,.at-video-embed__item,.at-videos-modal,.at-videos-modal__primary{width:520px;min-height:280px}.at-video-embed__item{border-radius:4px;margin-bottom:-10px}.at-modal__overlay{display:flex;align-items:center;justify-content:center;position:fixed;top:0;left:0;right:0;bottom:0;width:100vw;height:100vh;overflow:scroll;background-color:rgba(0,0,0,.35);z-index:9999999999}.at-modal__body{margin-top:0;position:relative;max-width:750px}.at-modal__close{position:absolute;top:-53px;right:-53px;width:50px;height:50px;cursor:pointer;display:flex;align-items:center;justify-content:center;opacity:.8}.at-modal__close svg{width:24px;height:24px;fill:var(--color-inversed)}.at-modal__close:hover{opacity:1}@media (max-width:750px){.at-modal__overlay{display:block;text-align:center}.at-modal__body{display:inline-block;margin:50px auto;text-align:left}.at-modal__close{top:-50px;right:-53px}}@media (max-height:750px){.at-modal__overlay{display:block;text-align:center}.at-modal__body{display:inline-block;margin:50px auto;text-align:left}.at-modal__close{top:-50px;right:-53px}}._2mmDW {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, .75);
}

._1St4U {
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
}

._1St4U ._29Pkd {
    width: 571px;
    height: 375px;

    z-index: 4;

    padding: 16px;
    background: #4C8BF5;
    opacity: 0.95;
    border-radius: 6px;

    position: absolute;

    overflow: hidden;

    transition: right .5s ease;
  }

._1St4U ._2gMax {
    display: flex;
    flex-direction: column;

    position: relative;
    max-width: 385px;

    margin-top: 71px;
    margin-left: 108px;
    color: #fff;
  }

._1St4U ._26mJL {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 4px;
  }

._1St4U ._26mJL svg {
      fill: #ffffff;
      transition: all .2s;
    }

._1St4U ._26mJL:hover svg {
      fill: rgba(0, 0, 0, .5);
    }
._1St4U._3nh7t {
  left: 41px
}

._1bTZE {
  opacity: 0.01;
}

._1aq2J {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

._1bFZv {
  opacity: 1;
}

._159jr {
  opacity: 1;
}

._2n0yL {
  opacity: 0.01;
  transition: opacity .3s ease-in-out;
}

.vSX-Q {
  opacity: 0;
}

._1NQNL {
  transform: translateY(30px);
}

._3lMz3 {
  transform: translateY(0px);
  transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._3RRlA {
  transform: translateY(0px);
}

._1h10Q {
  transform: translateY(0px);
}

._6RPog {
  transform: translateY(30px);
  transition: transform .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._2MrEr {
  transform: translateY(30px);
}
._2hxGQ {
  position: relative;
}

._1pCWJ {
  margin: 0 0 6px;
  font-size: 24px;
  line-height: 26px;
}

._12_2g {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 22px;
}

._16_vj {
  position: absolute;
  top: calc(100% + 10px);
  left: -42px;
}
._2OctA {
  position: relative;
}

._2LmNn {
  margin: -8px 0 14px;
  font-size: 24px;
  line-height: 26px;
}

._1w7hp {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 22px;
}

._2OTuW {
  position: absolute;
  top: 120px;
  left: 0px;
}

._3dgZj {
  position: relative;
}

._4dQ1f {
  margin: -8px 0 12px;
  font-size: 24px;
  line-height: 26px;
}

._2QV79 {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 22px;
}

.CdTPH {
  margin: 0 2px -2px 6px;
}

._1NtSt {
  position: absolute;
  top: -4px; right: 24px;
}

._3XWsP {
  position: relative;
}

._3AtSQ {
  margin: 0 0 6px;
  font-size: 24px;
  line-height: 26px;
}

.EhCDZ {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 22px;
}

.p4O_d {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
}
.epg_H {
  position: relative;

  margin-top: -2px;
  margin-left: -59px;
}

.PenTr {
  margin: -2px 0 8px;

  font-family: var(--font-family-default);
  font-size: 24px;
  line-height: 30px;
}

._3pXJS {
  margin: 10px 0 0;

  font-family: var(--font-family-default);
  font-size: 16px;
  line-height: 22px;
}

._14zeG {
  margin-bottom: 9px;
}

.DBzeU { margin-right: 2px; }

._3cope {
  position: absolute;
  top: calc(100% + 32px);
  left: -2px;
}
._1BoTZ {
  position: fixed;
  top: 134px; left: 55px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 24px 40px;

  width: 549px;
  height: 183px;

  border-radius: 4px;
  background-color: var(--color-balloon-blue);

  pointer-events: none;
  opacity: 0;
  z-index: 2147483647;

  transition:
    opacity var(--transition-hover-default),
    bottom var(--transition-hover-default);
}

._1BoTZ._340O3 {
  opacity: 1;
  bottom: 8px;
  pointer-events: auto;
}

._3k38M {
  position: relative;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: calc(100% - 136px);
  height: auto;
}

._3k38M:before {
  content: '';

  display: inline-flex;
  position: absolute;
  top: -8px; left: -38px;

  transform: translate(-50%, 0) rotate(135deg);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: linear-gradient(to top left, var(--color-balloon-blue) 50%, rgba(0,0,0, 0) 50%);
}

._1MB20 {
  color: var(--color-always-white);

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 16px;

  line-height: 22px;
}

._15nW6 {
  margin: 5px 0 0;

  color: var(--color-always-white);

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 14px;

  line-height: 19px;
}

._24Ip5 {
  display: flex;
  flex-direction: row;

  margin: 14px 0 0;
}

._1LW5G {
  padding: 0 16px;

  font-family: var(--font-default);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;

  height: 33px;

  color: var(--color-balloon-button);
  background: var(--color-inversed);

  border: 1px solid var(--color-inversed);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

._1LW5G:hover {
  background: var(--color-inversed-90);
  border-color: var(--color-inversed-90);
}

._2GJcE {
  width: 136px;
  height: 136px;

  background-size: 136px 136px;
  background-repeat: no-repeat;
  pointer-events: none;
}

._1LW5G._2qenM {
  margin-left: 8px;
  padding: 0 16px;

  font-family: var(--font-default);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;

  height: 33px;

  color: var(--color-inversed);
  background: transparent;

  border: 1px solid var(--color-inversed);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

._1LW5G._2qenM {
  border-color: var(--color-inversed-90);
  color: var(--color-inversed-90);
}
.at-rating-buttons{font-family:AT Open Sans,Open Sans,Arial,sans-serif}.at-rating-buttons__header{font-size:14px;line-height:14px;font-weight:600;color:var(--color-base);margin-bottom:17px}.at-rating-buttons__item{width:32px;height:32px;background-color:var(--color-accent-pale);font-size:14px;font-weight:600;line-height:32px;letter-spacing:normal;text-align:center;color:var(--color-accent);display:inline-block;border-right:1px solid var(--color-feedback-background);transition:all .3s ease}.at-rating-buttons__item--clicked{background-color:var(--color-accent);color:var(--color-inversed)}.at-rating-buttons__item:hover{background-color:var(--color-accent-pale-hover);color:var(--color-accent)!important}.at-rating-buttons__item:active{background-color:var(--color-accent);color:var(--color-inversed)!important}.at-rating-buttons__item:hover{text-decoration:none;color:var(--color-accent);cursor:pointer}.at-rating-buttons__item:first-child{border-bottom-left-radius:4px;border-top-left-radius:4px}.at-rating-buttons__item:last-child{border-bottom-right-radius:4px;border-top-right-radius:4px}.at-rating-buttons__label{display:flex;flex-direction:row;justify-content:space-between;font-size:12px;color:var(--color-base-50);margin-top:7px;line-height:12px;width:100%}.at-rating-feedback{font-family:AT Open Sans,Open Sans,Arial,sans-serif}.at-rating-feedback__header{font-size:14px;line-height:14px;font-weight:600;color:var(--color-base);margin-bottom:5px;display:flex;align-items:baseline}.at-rating-feedback__question{font-size:14px}.at-rating-feedback__comment{width:352px;height:120px;border-radius:4px;box-shadow:inset 0 1px 4px 0 rgba(0,0,0,.15);outline:none;resize:none;border-style:none;border-color:transparent!important;overflow:auto;font-size:14px!important;line-height:18px!important;color:var(--color-base)!important;padding:10px 17px;margin-top:15px;min-height:40px;background-color:var(--color-review-background);font-family:inherit;font-weight:400!important}.at-rating-feedback__button-block{width:100%;flex-direction:row;display:flex;margin-top:12px}.at-rating-feedback__change-rating{font-size:12px;text-align:left;color:var(--color-accent);cursor:pointer;transition:all .3s ease;font-weight:400;margin-left:12px}.at-rating-feedback__change-rating:hover{color:#23a48c}.at-rating-feedback__send-comment{border-radius:4px;font-size:14px;font-weight:600;padding:0 24px;line-height:38px;transition:all .3s ease;background-color:var(--color-accent-pale);color:var(--color-accent);cursor:pointer}.at-rating-feedback__send-comment:hover{background-color:var(--color-accent-pale-hover)}.at-rating-feedback__comment-sended{display:flex;flex-direction:row;font-size:14px;margin-top:4px}.at-rating-feedback__comment-sended-icon{width:34px;height:32px;margin-right:15px;fill:#4ebe5b;margin-top:4px}::-webkit-input-placeholder{color:var(--color-base-50)}::-moz-placeholder{color:var(--color-base-50)}:-ms-input-placeholder{color:var(--color-base-50)}:-moz-placeholder{color:var(--color-base-50)}.at-rating-email__header{font-size:14px;font-weight:600;margin-bottom:4px}.at-rating-email__text{font-size:14px;line-height:1.36}.at-rating-email__email-input{width:100%;height:38px;border-radius:4px;box-shadow:inset 0 1px 4px 0 rgba(0,0,0,.15)!important;outline:none;resize:none;border-style:none;border-color:transparent!important;overflow:auto;font-size:14px!important;line-height:14px!important;color:var(--color-base)!important;padding:13px 16px 10px;margin-top:13px;background-color:var(--color-review-background);font-family:inherit;font-weight:400!important}.at-rating-email__button-block{display:flex;margin-top:13px;margin-bottom:2px}.at-rating-email__send-button{border-radius:4px;font-size:14px;font-weight:600;padding:0 24px;line-height:38px;transition:all .3s ease;background-color:var(--color-accent-pale);color:var(--color-accent);cursor:pointer}.at-rating-email__send-button:hover{background-color:var(--color-accent-pale-hover)}.at-rating-panel{border-radius:4px;padding:23px 24px 22px;background-color:var(--color-back);opacity:1;transform:translateY(0);box-shadow:0 20px 60px 0 rgba(0,0,0,.15),0 2px 8px 0 rgba(0,0,0,.05),0 1px 4px 0 rgba(0,0,0,.05)}.at-rating-panel__wrap{bottom:55px;position:absolute;left:16px;width:400px;height:auto}.at-rating-panel__wrap--left-space{left:57px}.at-rating-panel--animate-enter{opacity:.1;transform:translateY(30px)}.at-rating-panel--animate-enter-active{opacity:1;transform:translateY(0);transition:all .25s ease-in-out}.at-rating-panel--animate-exit{opacity:1;transform:translateY(0)}.at-rating-panel--animate-exit-active{opacity:.01;transform:translateY(30px);transition:all .25s ease-in-out}.at-rating-panel--animate-exit-done{opacity:0}.at-rating-panel__feedback-header{margin-bottom:5px;margin-top:1px;font-size:14px;transition:all .3s ease}.at-rating-panel__feedback-header--lighter{color:var(--color-base-50)}.at-rating-panel__controls{position:absolute;width:12px;height:12px;top:7px;right:8px;cursor:pointer}.at-rating-panel__close{object-fit:contain;fill:var(--color-base);opacity:.5;transition:all .3s ease}.at-rating-panel__close:hover{fill:var(--color-base);opacity:.75}.at-rating-panel__end-block{display:flex;align-items:center;font-size:14px;font-weight:600;margin-top:-4px}.at-rating-panel__end-block svg{margin-right:16px;fill:var(--color-accent)}.at-rating-panel--tab-closed{top:-180px}.at-rating-panel--tab-closed.at-rating-panel--comment-sended{top:-123px}.at-update-button{margin:0;padding:6px 8px;display:inline-block;box-sizing:border-box;border-radius:4px;color:var(--color-inversed);background-color:var(--color-deep-blue);border:none;outline:none;font-size:12px;cursor:pointer;transition:background-color .3s ease}.at-update-button:hover{background-color:var(--color-deep-blue-hover)}.at-update-button svg{fill:var(--color-inversed);vertical-align:bottom;margin-right:6px}.at-panel-wrapper{position:fixed;bottom:35px;left:2px;z-index:2147483647}.at-panel-wrapper--avito{z-index:2999}.at-panel-wrapper--banggood{z-index:9999}.at-panel-wrapper--ebay{z-index:999999}.at-panel-wrapper--farfetch{z-index:99}.at-panel-wrapper--gearbest{z-index:9999999}.at-panel-wrapper--lamoda{z-index:102}.at-panel-wrapper--pandao{z-index:99992}.at-panel-wrapper--joom{z-index:10}.at-panel-wrapper--mercadolibre{z-index:9998}.at-panel-wrapper--mvideo{z-index:2000}.at-panel-wrapper--wildberries{z-index:100}.at-panel-wrapper--zaful{z-index:18999999}.at-panel__fake-add-favorite-container{display:inline-block;border-radius:4px;position:absolute;left:calc(100% + 8px);width:70px;height:64px;transform:rotateY(0deg)}.at-panel__body--small{height:238px}.at-panel__body--large{width:455px;height:425px}.at-panel__body--lower{bottom:48px}.at-panel__body--hide{z-index:10}.at-splash-screen__header{line-height:26px;font-size:24px;color:#fff;margin-bottom:7px}.at-splash-screen__header--hight{line-height:30px;margin-bottom:12px}.at-splash-screen__text{font-size:16px;line-height:22px;color:#fff;margin-top:8px}.at-splash-screen__arrow-to-favorites{margin-top:14px}.at-splash-screen__arrow-to-popup{top:-4px;position:absolute;right:-42px}.at-splash-screen__alitools-icon{margin:1px 2px -1px 7px}.at-widgets-history__items{display:flex;justify-content:center;align-items:center;overflow:hidden;max-width:0;margin-right:3px}.at-widgets-history__items--animate-enter{max-width:0;margin-right:0}.at-widgets-history__items--animate-enter-active{max-width:256px;margin-right:3px;transition:all .25s ease-in}.at-widgets-history__items--animate-enter-done,.at-widgets-history__items--animate-exit{max-width:256px;margin-right:3px}.at-widgets-history__items--animate-exit-active{max-width:0;margin-right:0;transition:all .25s ease-in}.at-widgets-history__items--animate-exit-done{max-width:0;margin-right:0}.at-widgets-history__item{width:48px;height:48px;margin:0 4px;position:relative;border:1px solid var(--color-grey-90);border-radius:2px;display:flex;align-items:center;overflow:hidden;background-color:var(--color-item-card-image-back)}.at-widgets-history__item>img{max-height:46px;width:100%;height:auto;border-radius:2px;object-fit:contain;margin:0;padding:0}.at-widgets-history__item:hover .at-widgets-history-mask{opacity:.5}.at-widgets-history__item:hover .at-widgets-history__link{opacity:1}.at-widgets-history__link{top:3.5px;opacity:0;right:4.5px;position:absolute;width:8px;height:8px;transition:all .2s ease-in}.at-widgets-history .at-widgets-panel__content{padding-left:0;overflow:hidden}.at-widgets-history .at-widgets-panel__content--show{display:none}.at-widgets-history .at-widgets-panel__widget{border:1px solid var(--color-grey-90);border-radius:3px}.at-widgets-history .at-widgets-panel__widget--active{border-color:var(--color-primary);transition:all .2s ease-in}.at-widgets-history .at-widgets-panel__widget:hover{border-color:rgba(78,190,169,.2)}.at-widgets-history .at-widgets-panel__widget--active:hover .at-widget-all-history__label{color:var(--color-always-white)}.at-widgets-history .at-widgets-panel__widget--active:hover .at-widget-all-history *{fill:var(--color-always-white)}.at-widgets-history .at-widgets-panel__widget:hover .at-widget-all-history__icon{fill:var(--color-primary)}.at-widgets-history .at-widgets-panel__widget:hover .at-widget-all-history__label{color:var(--color-primary)}.at-widgets-history .at-widgets-panel__widget--active .at-widget-all-history__label{color:var(--color-always-white)!important}.at-widgets-history .at-widgets-panel__arrow-wrapper{display:flex;justify-content:center;align-items:center;height:64px;width:14px!important;cursor:pointer;margin-right:4px!important}.at-widgets-history .at-widgets-panel__arrow-wrapper path{stroke:var(--color-grey-78);transition:stroke .2s ease-in-out}.at-widgets-history .at-widgets-panel__arrow-wrapper:hover path{stroke:var(--color-history-array-color-hover)}.at-widgets-history .at-widgets-panel__arrow-wrapper--open svg{transform:rotate(180deg)}.at-widgets-history .at-widgets-panel__arrow-wrapper--disabled:hover *{stroke:#c8c8c8!important}.at-widgets-history .at-widgets-panel__arrow-wrapper--empty{width:3px!important}.at-widgets-history-mask{width:48px;height:48px;opacity:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);background-color:var(--color-primary);border-radius:4px;transition:all .2s ease-in}.at-widget-all-history{height:100%;width:42px;color:var(--color-base);text-align:center}.at-widget-all-history__icon{vertical-align:middle;fill:var(--color-history-array-color-hover);width:18px;height:18px;transition:all .2s ease-in}.at-widget-all-history__label{font-size:11px;line-height:15px;text-align:center;text-transform:lowercase;color:var(--color-warm);transition:all .2s ease-in}.at-tab-empty__title{color:var(--color-history-array-color-hover)}.at-tab-empty__image{width:102px;height:100px}.at-body__header--small{height:55px}.W92R1 {
  position: relative;
  width: 112px;
  height: 162px;

  display: block;

  background: var(--color-similar-item-bg);
  border: 1px solid var(--color-grey-90);
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;

  transition:border .2s ease-in;
}

.W92R1._1UeNu {
  height: 144px;
}

.W92R1:hover {
  text-decoration: none;
  border-color: var(--color-accent);
}

.W92R1 a:link {
  color: var(--color-back);
}

._3lp8m {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top:0;

  transition:opacity .2s ease-in;
}

._3lp8m:hover *:first-child {
  fill: #33A691;
  transition:fill .2s ease-in;
}

.W92R1:hover ._3lp8m {
  opacity: 1;
}

.QkU2y {
  min-width: 110px;
  width: 110px;
  height: 110px;
  display: inline-block;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 3px 3px 0 0;
  background-color: var(--color-item-card-image-back);
}

.AJXZP {
  margin-top: -2px;
  padding: 5px 10px 0;
  line-height: 18px;
}

.dY8Ug {
  font-family: 'AT Open Sans', 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-base);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.TeRrx {
  font-size: 12px;
  color: var(--color-grey-46-text);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._3JFpI {
  text-decoration: none !important;
  border: none !important;
}
.at-history-list{margin:0 20px;height:342px}.at-history-list__items-wrap{max-width:360px;display:flex;flex-wrap:wrap}.at-history-list__item{margin-bottom:8px!important;height:90px;width:100%;overflow:hidden;box-shadow:0 1px 2px 0 rgba(0,0,0,.1);border-radius:4px;transition:all .2s ease-in}.at-history-list__item:hover{box-shadow:0 5px 10px 0 rgba(0,0,0,.1)}.at-history-list__item-wrap{flex:1 1 112px;max-width:112px;margin:0 4px 17px}.at-history-list__divider-wrap{width:100%;max-width:400px;display:flex}.at-history-tab-success__fixed-divider-wrap{width:100%;max-width:400px;position:fixed;z-index:10;display:flex;background:var(--color-back);margin-top:1px}.at-history-tab{height:312px;overflow:hidden;border-radius:4px;transition:height .3s ease}.at-history-tab--scrolled{height:351px;transition:height .3s ease;padding-top:0}.at-history-tab--higher{margin-top:-8px;height:342px}.at-history-tab__sort{position:absolute;top:44px;left:0;text-align:left;padding-left:24px;text-transform:uppercase;font-size:12px;letter-spacing:.075em;font-weight:600;color:var(--color-popup-favorites-grey);transition:top .25s ease}.at-history-tab__sort--scrolled{top:5px}.at-history-tab__list{padding-bottom:10px}.at-sort-icon{position:relative;top:-1px;fill:var(--color-accent);vertical-align:middle}.at-reviews-tab--low.at-reviews-tab--scrolled{height:275px}#J_xiaomi_dialog{transition:bottom .2s ease-in}.at-panel-aside-wrapper{position:fixed;bottom:36px;right:2px;z-index:2147483647}.at-panel-aside-wrapper--left{right:38px;transition:right .5s ease;z-index:997}.at-panel-aside-wrapper--asos{z-index:9999998}.at-panel-aside-wrapper--mvideo{right:64px}.at-panel-aside-wrapper--banggood{right:42px}.at-panel-aside-wrapper--market_yandex{z-index:33001}.at-panel-aside-wrapper--rumicom{bottom:72px;z-index:2147483646}.at-panel-aside-wrapper--rozetka{right:72px}.at-panel-aside-wrapper--eldorado{right:84px;z-index:999998}.at-panel-aside-wrapper--sportmaster{right:84px;z-index:2147483609}.at-panel-aside-wrapper--alternate{bottom:53px;z-index:1}.at-panel-aside-wrapper--nyxcosmetics{bottom:70px;z-index:2147483643}.at-panel-aside-wrapper--bonprix{bottom:66px;z-index:1025}.at-panel-aside-wrapper--euro{bottom:65px;z-index:4}.at-panel-aside-wrapper--merlin{bottom:80px}.at-panel-aside-wrapper .at-panel-aside__main{z-index:3;position:absolute;border-radius:4px;right:14px;bottom:-17px;min-width:68px;background-color:var(--color-back)}.at-panel-aside-wrapper .at-panel-aside .at-panel__body{left:auto;right:14px}.at-panel-aside-wrapper .at-panel-aside__tooltip-wrap{transform:translate(-24px);position:relative;width:97px;display:flex;margin-right:0;margin-left:auto}.at-panel-aside-wrapper .at-panel-aside__tooltip-content{margin-right:23px}.at-panel-aside-wrapper .at-panel-aside__tooltip-content__header{margin-bottom:7px;font-weight:600;font-size:16px;line-height:100%}.at-panel-aside-wrapper .at-panel-aside__tooltip-content__text{font-size:14px;line-height:19px}._3LGcE {
  position: absolute;
  bottom: -32px; left: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 24px 40px;

  width: 549px;
  height: 183px;

  border-radius: 4px;
  background-color: var(--color-balloon-blue);

  pointer-events: none;
  opacity: 0;

  transition:
    opacity var(--transition-hover-default),
    bottom var(--transition-hover-default);
  z-index: 10;
}

._3LGcE._3ePTq {
  opacity: 1;
  bottom: 8px;
  pointer-events: auto;
}

._2N40E {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: calc(100% - 136px);
  height: auto;

  padding-right: 32px;
}

._34Jqz {
  color: var(--color-always-white);

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 16px;

  line-height: 22px;
}

._1UmYE {
  margin: 5px 0 0;

  color: var(--color-always-white);

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 14px;

  line-height: 19px;
}

._22MDK {
  margin: 14px 0 0;
  padding: 0 16px;

  font-family: var(--font-default);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;

  height: 33px;

  color: var(--color-balloon-button);
  background: var(--color-inversed);

  border: 1px solid var(--color-inversed);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

._22MDK:hover {
  background: var(--color-inversed-90);
  border-color: var(--color-inversed-90);
}

.olP0p {
  width: 136px;
  height: 136px;
}
._21qnT {
  position: absolute;
  bottom: -32px; left: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 24px 40px;

  width: 549px;
  height: 183px;

  border-radius: 4px;
  background-color: var(--color-balloon-blue);

  pointer-events: none;
  opacity: 0;

  transition:
    opacity var(--transition-hover-default),
    bottom var(--transition-hover-default);
  z-index: 10;
}

._21qnT._398tW {
  opacity: 1;
  bottom: 8px;
  pointer-events: auto;
}

._20wMS {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: calc(100% - 136px);
  height: auto;
}

._2CdEn {
  color: var(--color-always-white);

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 16px;

  line-height: 22px;
}

._14emZ {
  margin: 5px 0 0;

  color: var(--color-always-white);

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 14px;

  line-height: 19px;
}

.CsjxY {
  margin: 14px 0 0;
  padding: 0 16px;

  font-family: var(--font-default);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;

  height: 33px;

  color: var(--color-balloon-button);
  background: var(--color-inversed);

  border: 1px solid var(--color-inversed);
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

.CsjxY:hover {
  background: var(--color-inversed-90);
  border-color: var(--color-inversed-90);
}

._2bhTb {
  width: 136px;
  height: 136px;
}
._2WFSV {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-grey-59) !important;

  cursor: pointer;

  display: flex;
  align-items: center;
  overflow: hidden;

  width: 178px;
  padding: 10px 11px;

  transition:
    color .25s cubic-bezier(0.42, 0, 0.58, 1),
    background-color .25s cubic-bezier(0.42, 0, 0.58, 1);
}

._9EpCc:hover {
  background-color: var(--color-primary-10);
}

._2Wli-:hover {
  background-color: var(--color-red-10);
}

._2WFSV:hover,
._2WFSV._3xcYW{
  color: var(--color-base) !important;
  text-decoration: none !important;
}


.kVQmV {
  width: 18px;
  height: 18px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background .2s cubic-bezier(0.42, 0, 0.58, 1);
}
.g_OA5 {
  display: flex;
  align-items: center;
}

._2ZO-R {
  margin-left: 11px;
  margin-right: 5px;
}

._2HfOr {
  display: none;
}

._2aw7V {
  max-width: 125px;
}

._2KFgb {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin-right: 5px;
}

._35_0g {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 4px;
}

._3fLw4 {
  position: absolute;
  right: 144px;
  top: 4px;

  margin: 0;
  padding: 0 4px;

  min-width: 12px;
  width: auto;
  height: 12px;
  background: var(--color-red-unfavorite);
  color: var(--color-always-white);
  border-radius: 10px;
  display: flex;
  font-size: 9px;
  line-height: 12px;
  justify-content: center;
}

._3TZgN {
  position: absolute;
  right: 142px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: var(--color-back);
  border-radius: 10px;
  transition: background .2s cubic-bezier(0.42, 0, 0.58, 1);
}

._2WFSV._9EpCc:hover ._3r6li {
  background: var(--color-sale-tab-badge-wrap);
}
._2WFSV._2Wli-:hover ._27y5x {
  background: var(--color-sale-link-badge-wrap);
}



._1D-lk {
  position: absolute;
  top: -1px; left: 18px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 2px;

  width: 19px;
  height: 19px;
  box-sizing: border-box;

  border-radius: 50%;
  background-color: var(--color-back);

  pointer-events: none;
}

._2FSs1 {
  width: 16px;
  height: 16px;

  animation-name: _1k6nC;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes _1k6nC {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
._1UESF {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-grey-90);
  width: 179px;
  padding: 16px 0px;
}

.zCXY7 {
  padding: 0px;
}

._1On8B {
  display: flex;
  cursor: pointer;
}

._1On8B svg {

  }

.kCOyW {
  margin: 0 12px;
  width: 16px;
  height: 23px;
}

._1q26S {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-base);
  margin-bottom: 23px;
}

.QK_U8{
  margin: 15px 0px 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.QK_U8:hover {
  text-decoration: none;
}

.ZvFvZ {
  width: 40px;
}

._3Si_A {
  width: 45px;
  height: 49px;
  margin-left: -3px;

  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
}

.FD0ee {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-base);

  margin-left: 6px;

  height: 100%;
  display: flex;
  align-items: center;
}

._3TNkl {
  padding: 0px;
  margin-top: 8px;
}

._1Lkhw {
  position: absolute;
  bottom: 18px;
  left: 12px;
  cursor: pointer;
  display: flex;
  width: 178px;
}

._1Lkhw svg {
    fill: var(--color-grey-78);
    transition:
      fill .25s cubic-bezier(0.42, 0, 0.58, 1);
  }

._1Lkhw:hover ._2PmDF {
    color: var(--color-base);
  }

._1Lkhw:hover svg {
    fill: var(--color-grey-46);
  }

._2PmDF {
  color: var(--color-grey-59);
  font-size: 11px;
  line-height: 15px;
  margin-left: 12px;
  transition: color .25s cubic-bezier(0.42, 0, 0.58, 1);
}


._32QPU {
  position: relative;
  visibility: hidden;
}

._1Lkhw:hover ._32QPU { visibility: visible; }
.cYkJ3 {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 57px;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-90);
}

.cYkJ3._3wdyL .ZOT9G {
  opacity: 0.25;
  pointer-events: none;
}

.ZOT9G {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin: 0;
  padding: 8px 27px 8px 26px;

  height: 100%;
  width: 100%;
}

._1NTfx {
  position: absolute;
  top: 20px; left: 42px;

  fill: var(--color-grey-59);

  pointer-events: none;
}

._3Mm52 {
  margin: 0;
  padding: 0 0 0 44px;

  width: 100%;
  height: 40px;
  line-height: 40px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  color: var(--color-black);
  background: var(--color-white);

  border: 1px solid var(--color-grey-90);
  border-right: none;

  box-shadow: var(--input-inset-shadow);

  font-family: var(--font-family-default);
  font-size: 16px;

  outline: none;
}

.YCAi6 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0 16px 0 13px;

  width: auto;
  height: 40px;
  line-height: 40px;

  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  color: var(--color-inversed);
  background-color: var(--color-primary);

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 13px;

  outline: none;
  cursor: pointer;

  box-sizing: border-box;
  transition: background-color .25s cubic-bezier(0.42, 0, 0.58, 1);
}
.YCAi6:hover { background-color: var(--color-accent-darker); }
.YCAi6:active { background-color: var(--color-primary); }

._1F97v {
  width: 16px;
  height: 16px;

  fill: var(--color-always-white)
}

._1cpi2 {
  margin-left: 7px;

  font-family: var(--font-family-default);
  font-size: 13px;
}
._6NI0v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

._2PMZ4 {
  height: 100px;
  width: 73px;
  background-size: contain;
}

.cSTuf {
  margin: 16px 0 0;

  color: var(--color-black);

  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 19px;

  text-align: center;
}

.D6UI2 {
  font-family: var(--font-family-default);
  font-weight: 600;

  color: var(--color-primary) !important;
}
._27Khz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

._1sc6j {
  width: 102px;
  height: 100px;
  background-size: contain;
}

._2w7i- {
  margin: 16px 0 0;

  color: var(--color-black);

  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 19px;

  text-align: center;
}
.YCSsx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

._2Ucqf {
  width: 42px;
  height: 100px;
  background-size: contain;
}

._3wbyi {
  margin: 16px 0 0;

  color: var(--color-black);

  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 19px;

  text-align: center;
}

.IiYll {
  margin: 16px 0 0;
}
._22Mu7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 10px 0 0;
}
._1y6kV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

._1y6kV._30Kp5 .mZDCB {
  opacity: 0.25;
  pointer-events: none;
}

.mZDCB {
  margin-left: -8px;
}

.ZdoM8 {
  margin: 0 4px 0 0;

  font-family: var(--font-family-default);
  font-size: 14px;

  color: var(--color-grey-46);
}
._1_elz {
  position: relative;

  display: inline-flex;
  flex-direction: column;

  margin: 4px 4px 12px;
  padding: 16px;
  padding-bottom: 14px;

  min-width: 180px;
  width: 180px;
  max-width: 180px;
  min-height: 296px;
  height: 296px;
  max-height: 296px;

  background-color: var(--color-white);
  border: 1px solid var(--color-grey-90);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  transition: border var(--transition-hover-default);
  will-change: border;
}

._1_elz:active,
._1_elz:hover,
._1_elz:active *,
._1_elz:hover * { text-decoration: none; }

._1_elz:hover { border: 1px solid var(--color-primary); }

._2xOnG {
  position: absolute;
  top: 5px; right: 5px;

  fill: var(--color-grey-78);
}

._3dYzq {
  width: 148px;
  height: 148px;

  border-radius: 2px;

  overflow: hidden;
}

._3dYzq img {
  width: 148px;

  object-fit: cover;
  pointer-events: none;
}

._3SZEQ {
  margin: 7px -2px 0;

  font-family: var(--font-family-default);
  font-size: 12px;
  line-height: 16px;

  color: var(--color-black);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

._3Y7KZ {
  margin: 9px -2px 0px;

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 16px;

  color: var(--color-black);
}

.HVWb5 {
  margin: 2px -2px 0;

  font-family: var(--font-family-default);
  font-size: 12px;

  color: var(--color-grey-46);
}

._2aa5M {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: auto -2px -3px;
}

._7yk9K {
  font-family: var(--font-family-default);
  font-size: 12px;
  line-height: 12px;

  color: var(--color-grey-46);
}

._2Ex8D {
  line-height: 12px;
}
._3bV_8 {
  border: 1px solid var(--color-grey-90);
  border-radius: 4px;

  margin: 4px 4px 12px;

  min-width: 180px;
  width: 180px;
  max-width: 180px;
  min-height: 296px;
  height: 296px;
  max-height: 296px;

  animation: dyjRl 2s linear infinite;
}

  ._3bV_8 rect {
    stroke: var(--color-grey-90);
  }

._3bV_8 * { stroke: var(--color-grey-90); }

._3bV_8:nth-child(1) { animation-delay: 0ms; }
._3bV_8:nth-child(2) { animation-delay: 250ms; }
._3bV_8:nth-child(3) { animation-delay: 500ms; }
._3bV_8:nth-child(4) { animation-delay: 750ms; }
._3bV_8:nth-child(5) { animation-delay: 1000ms; }
._3bV_8:nth-child(6) { animation-delay: 1250ms; }
._3bV_8:nth-child(7) { animation-delay: 1500ms; }
._3bV_8:nth-child(8) { animation-delay: 1750ms; }
._3bV_8:nth-child(9) { animation-delay: 2000ms; }
._3bV_8:nth-child(10) { animation-delay: 2250ms; }


@keyframes dyjRl {
  0% { opacity: 1; }
  50% { opacity: .25; }
  100% { opacity: 1; }
}
._2L15J {
  margin: 0;
  padding: 0;

  width: 100%;
  height: calc(100vh - 56px);

  position: relative;
  overflow-y: hidden;
}

._2H-qk {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 30px 16px 30px 24px;

  width: 100%;
}
._2qvAT {
  position: relative;
  overflow: hidden;

  min-width: 236px;
  width: 236px;
  max-width: 236px;
  height: calc(100vh - 56px);

  transition: opacity var(--transition-hover-default);
}

._2qvAT._2fhMk {
  opacity: 0.25;
  pointer-events: none;
}

.uv-k4 {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 33px 26px 0;

  min-width: 236px;
  width: 236px;
  max-width: 236px;
  height: 100%;
}
._1K_m2 {
  display: flex;
  flex-direction: column;

  margin: 1px 0 0;

  max-width: 100%;
  height: auto;
}

.LnfuP {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._2Yj6C {
  margin: -2px 0 0 8px;

  font-family: var(--font-family-default);
  font-size: 14px;
}

._11hTy {
  display: flex;
  flex-direction: column;
}

._1-_aj {
  margin: 24px 0 0;

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.75px;

  color: var(--color-grey-46);
}

._3oWYl {
  margin-left: 8px;

  font-family: var(--font-family-default);
  font-weight: bold;
  font-size: 12px;

  color: var(--color-primary);
  cursor: pointer;
}

.WjLTt {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px 0 0;
}

._3hw_k { position: relative; }

._2lOR9 {
  position: absolute;
  top: 6px; right: 9px;

  font-family: var(--font-family-default);
  font-size: 14px;

  color: var(--color-grey-59);
}

._2jMTU {
  padding: 0 8px;
  padding-right: 24px;

  width: 80px;
  height: 32px;

  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 32px;

  background: var(--color-white);
  box-shadow: var(--input-inset-shadow);

  border: 1px solid var(--color-grey-90);
  border-radius: 4px;

  outline: none;
}

._2jMTU::placeholder { color: var(--color-grey-78); }

.kB8TG { margin: 0 8px; }

._1d_h7 {
  margin: 8px 0 0;

  width: 184px;
  height: 32px;

  color: var(--color-always-white);
  background-color: var(--color-primary);

  font-family: var(--font-family-default);
  font-size: 13px;

  border: none;
  border-radius: 4px;
}
._2fCiL {
  margin-right: 8px;
  fill: #757575;
  transition: all .5s ease;
}
._1RVQN {
  display: flex;
  flex-direction: column;
}

.La76A {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0 0 24px;

  width: 100%;
}

._1XTOB {
  margin: 23px 0 0;

  font-family:  var(--font-family-default);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.75px;

  color: var(--color-grey-46);
}

.PhDAv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 4px 0 4px;

  color: var(--color-black);

  cursor: pointer;

  transition: color var(--transition-hover-default);
  will-change: color;
}

.PhDAv._1cJvy { padding: 10px 0 2px; }

.PhDAv._3v3Gz { padding: 7px 0 4px; }

.PhDAv._2bkD7 {
  color: var(--color-grey-59);

  cursor: default;
  pointer-events: none;
}

._1ogyE {
  display: inline-flex;
  flex-direction: row;

  margin: 8px 0 0;
}

.AmkhE {
  margin-right: 5px;

  width: 3px;
  height: 3px;

  fill: var(--color-grey-90);

  transition: fill var(--transition-hover-default);
  will-change: fill;
}

._1gO5o {
  font-family: var(--font-family-default);
  font-size: 14px;
}

._23L85 {
  margin-top: 8px;
  margin-right: 5px;

  height: 3px;
  width: 19px;
  min-width: 3px !important;

  background: var(--color-grey-90);
  border-radius: calc(3px / 2);
}

._3VYXL {
  margin-top: 3px;
  margin-right: 6px;

  min-width: 14px;
  width: 14px;
  max-width: 14px;

  min-height: 14px;
  height: 14px;
  max-height: 14px;

  fill: var(--color-grey-46);

  transition: fill var(--transition-hover-default);
  will-change: fill;
}

._2Jp2B {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  height: auto;
}


.PhDAv:hover { color: var(--color-accent); }
.PhDAv:hover ._3VYXL { fill: var(--color-accent); }
//.PhDAv:hover .AmkhE { fill: var(--color-accent); }
._2YpHK {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  overflow: hidden;

  width: 1028px;
  min-height: 100%;
}

@media (max-width: 1264px) {
  ._2YpHK { width: 1028px; }
}

@media (max-width: 1208px) {
  ._2YpHK { width: 840px; }
}

._2u9L6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  height: auto;
}

._1Ed6i {
  width: 100%;
  height: auto;
}

._1jx9W {
  width: 236px;
  height: auto;
}
.Y3FKb {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 0 0 8px 0;
  padding: 0;

  min-width: 372px;
  width: 372px;
  max-width: 372px;
  min-height: 100px;
  height: auto;

  background-color: var(--color-white);
  border: 1px solid var(--color-grey-90);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  transition: border var(--transition-hover-default);
}
.Y3FKb:hover { border: 1px solid var(--color-primary); }

._2Bq4l {
  position: absolute;
  top: 6px; right: 6px;
}

._1rwIF {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0;
  padding: 16px 16px 16px 24px;

  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: 100%;

  text-decoration: none !important;
  cursor: pointer;
}

.lOS3G {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: calc(100% - 68px);
  height: auto;
  min-height: 68px;
}

.lOS3G._1SKqt { width: 100%; }

._2iQwQ {
  margin-left: 16px;

  width: 68px;
  height: 68px;

  border-radius: 2px;

  background-size: cover;
  background-repeat: no-repeat;
}

.zRkXm {
  font-family: var(--font-family-default);
  font-size: 16px;
  line-height: 22px;

  color: var(--color-black);
}
.zRkXm._3u4bK { font-weight: 600; }

._2OXaZ {
  margin: 4px 0 0;

  font-family: var(--font-family-default);
  font-size: 13px;
  line-height: 18px;

  color: var(--color-grey-46);
}

._1XLRS {
  margin-left: 4px;

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;

  color: var(--color-accent);
}

._1XLRS:hover {
  color: var(--color-accent) !important;
  text-decoration: underline;
}

._3aEqw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin: 5px 0 0;
}

._1RC7w {
  font-family: var(--font-default);
  font-size: 12px;
  line-height: 16px;

  color: var(--color-red);
}

._3oHMs {
  margin: 0 6px;

  width: 2px;
  height: 2px;

  border-radius: 50%;
  background-color: var(--color-grey-78);
}

._1v2B3 {
  font-family: var(--font-default);
  font-size: 12px;
  line-height: 16px;

  color: var(--color-grey-78);
}

._3ft60 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: -8px 0 0;
  padding: 0 24px 16px;

  width: 100%;
  height: auto;
}

._3GBtj {
  position: relative;
  margin-right: 8px;

  width: 74px;
  height: 74px;

  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  overflow: hidden;

  transition: border var(--transition-hover-default);
}
._37duP {
  position: absolute;
  top: 0; left: 0;

  width: 74px;
  height: 74px;

  background-color: var(--color-primary-30);

  opacity: 0;
  transition: opacity var(--transition-hover-default);
}
._3GBtj:nth-child(4n) { margin-right: 0; }
._3GBtj:hover { border: 1px solid #4ebea9; }
._3GBtj:hover ._37duP { opacity: 1; }

.H0KAB {
  position: absolute;
  top: 4px; right: 4px;

  opacity: 0;
  transition: opacity var(--transition-hover-default);
}

._3GBtj:hover .H0KAB { opacity: 1 }

.LMrzB { width: 100%; }
._1AZcn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 397px;
  height: calc(100vh - 48px);
}

._1nRii {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

._18Yhg {
  margin: 16px 0 0;

  color: var(--color-black);

  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 19px;

  text-align: center;
}
._2zzmi {
  width: 178px;
  height: 240px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

._2zzmi.AorYZ {
  margin-right: 16px;
}

._2MfsQ {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background: linear-gradient(360deg, rgba(51, 51, 51, 0.75) 0%, rgba(51, 51, 51, 0) 50%), rgba(51, 51, 51, 0.3);
  transition: background .3s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 4px;
}

._2zzmi:hover ._2MfsQ {
    background: linear-gradient(360deg, rgba(51, 51, 51, 0.75) 0%, rgba(51, 51, 51, 0) 50%), rgba(51, 51, 51, 0.1);
  }

.gWKSq {
  position: absolute;
  bottom: 0;
  z-index: 10;

  font-size: 14px;
  line-height: 19px;
  color: var(--color-always-white);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  padding: 16px;
}

._3g17d {
  display: flex;
  align-items: center;
}

._2IdgJ {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-red-unfavorite);
}

.beC0A {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey-59);
}

._3d5vv {
  margin: 0 6px;

  width: 2px;
  height: 2px;

  border-radius: 50%;
  background-color: var(--color-grey-59);
}
._1CdFH {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: -24px;
  padding: 0;
}

._1LuSB {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 12px 24px;

  width: 100%;
  height: auto;

  border-bottom: 1px solid var(--color-grey-90);
}

._1LuSB button {
  padding: 8px 14px;
  height: 32px;
  font-size: 13px;
}
.S55kk { margin: 0 8px 0 0; }

._1L3rU {
  font-family: var(--font-default);
  font-size: 12px;
  line-height: 14px;

  color: var(--color-grey-59);
}

._3M6lt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 0;
  padding: 12px 24px;

  width: 100%;
  height: auto;
}

._2fBVP {
  margin: 0 0 16px;

  width: 100%;
  height: 236px;

  border-radius: 4px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

._1IX6C {
  margin: 0 0 6px;

  font-family: var(--font-family-default);
  font-size: 24px;
  line-height: 33px;

  color: var(--color-black);
}

._3Tj9h {
  width: 100%;
  height: auto;
}

._3Tj9h > *:last-child { margin: 0 0 24px; }

._1F0nJ {
  margin: 0 0 6px;

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: var(--color-black);
}

._9mjb {
  margin: 0 0 8px;

  font-family: var(--font-family-default);
  font-size: 14px;
  line-height: 22px;

  color: var(--color-black);
}

._1TKHA a {
  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 14px;

  color: var(--color-accent) !important;
}
._1TKHA a:hover { text-decoration: underline; }

._3ogeh {
  display: inline-flex;
  margin-left: 5px;
}

._3ogeh path {
    fill: var(--color-accent);
  }

._34YAk {
  margin: 24px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  position: relative;
}

._34YAk img {
  width: auto;
  max-width: 100%;
}
._1yJqM {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}
._26WZs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  max-width: 372px;
  height: auto;

  margin: 0 0 8px;
  padding: 16px;

  cursor: pointer;

  background-color: var(--color-white);
  border: 1px solid var(--color-grey-90);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  transition: border var(--transition-hover-default);
}

._26WZs:hover { border: 1px solid var(--color-primary); }

._2pX19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 0 7px 0;
}

.A3B-E {
  margin: 4px 0 0;

  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: var(--color-black);
}
.A3B-E.vjlFg { font-weight: 600; }

.IabU7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin: 4px 0 0;

  font-family: var(--font-family-default);
  font-size: 12px;
  line-height: 16px;

  color: var(--color-grey-78);
}

._299xT {
  font-family: var(--font-default);
  font-size: 12px;
  line-height: 16px;

  color: var(--color-red);
}

._131Qk {
  margin: 0 6px;

  width: 2px;
  height: 2px;

  border-radius: 50%;
  background-color: var(--color-grey-78);
}

._3wuun {
  min-width: 68px;
  width: 68px;
  max-width: 68px;
  min-height: 68px;
  height: 68px;
  max-height: 68px;

  border-radius: 2px;

  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.u8Knz {
  width: 100%;

  margin: 0;
  padding: 24px;
}

.u8Knz._2Wx1r {
  padding: 0;
  height: 100%;
  overflow: hidden;
}
._1tafi {
  z-index: 2147483647;
  height: 100vh;
  min-height: 600px;
  width: 41px;
  position: fixed;
  top: 0;
  left: 0;

  background: var(--color-back);
  display: flex;
  overflow: hidden;
  border-right: 1px solid var(--color-grey-90);
}

._1tafi.hyw-c {
  z-index: 100;
}

._1tafi._3iftj {
  width: 700px;
  transition: width .2s cubic-bezier(0.42, 0, 0.58, 1);
}

._1tafi._2d2cM {
  width: 1208px;
  transition: width .2s cubic-bezier(0.42, 0, 0.58, 1);
}

._1tafi._1WF0U {
  width: 600px;
  transition: width .2s cubic-bezier(0.42, 0, 0.58, 1);
}

._1mVYs {
  width: 41px;
}

._3KbBL {
  width: 600px;
  transition: width .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._36Ik7 {
  width: 600px;
  border-right: 1px solid transparent;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
}

._3rLnM {
  width: 600px;
}

._3ZQbN {
  width: 41px;
  transition: width .3s cubic-bezier(0.42, 0, 0.58, 1);
  border-right: 1px solid var(--color-grey-90);
}

._2mHnj {
  width: 41px;
  border-right: 1px solid var(--color-grey-90);
}

._3yNvC {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-grey-90);
  width: 179px;
  padding: 16px 0px;
}

._24z_q {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2147483647;
  display: none;
  transition: background-color .3s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}

.pl28X {
  position: fixed;
  top: 0; left: 0;

  margin: 0;
  transform: translate(17px, 18px);

  cursor: pointer;
  pointer-events: none;
  z-index: 2147483647;

  opacity: 1;
  transition:
    left var(--transition-hover-default);
  will-change: opacity, left;

}
.pl28X._2dAN0 {
  left: 600px;
}

.pl28X._3GAeN {
  left: 700px;
}
.pl28X._1JsKZ {
  left: 1208px;
}

.pl28X._2dAN0:hover { opacity: 1; }

._31UOh path {
    fill: var(--color-sidebar-close-button);
    transition: fill .3s ease;
  }


._24z_q:hover{
  background-color: rgba(0, 0, 0, 0.4);
}


._24z_q:hover ._31UOh path {
      fill: var(--color-sidebar-close-button--hover);
    }

._1btIu {
  display: block;
  opacity: 0.01;
}
._2KYqn {
  display: block;
  opacity: 1;
  transition: opacity .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._2NkKz {
  display: block;
  opacity: 1;
}

._29e-L {
  display: block;
  opacity: 1;
}

.lJjLE {
  display: block;
  opacity: 0.01;
  transition: opacity .3s cubic-bezier(0.42, 0, 0.58, 1);
}

._3xWIP {
  display: none;
}

@media (max-width: 1264px) {
  ._1tafi._2d2cM { width: 1208px; }
  .pl28X._1JsKZ { left: 1208px; }
}
@media (max-width: 1208px) {
  ._1tafi._2d2cM { width: 1020px; }
  .pl28X._1JsKZ { left: 1020px; }
}
.at-legacy-seller-check{padding:12px;background-color:#fafafa}.at-legacy-seller-check--top-space{margin-top:20px}.at-legacy-seller-check__tooltip{position:relative;display:inline-block;float:right}.at-legacy-seller-check__tooltip-icon{margin-top:12px;margin-right:9px;fill:#969696}.at-legacy-seller-check__tooltip-message{display:none;padding:12px 24px;position:absolute;top:calc(-100% - 65px);left:-100px;border-radius:4px;width:200px;background-color:#fff;color:rgba(51,51,51,.75);font-size:12px;z-index:99999;box-shadow:0 10px 20px 0 rgba(0,0,0,.15)}.at-legacy-seller-check__tooltip-message:after{content:"";display:inline-block;width:15px;height:15px;position:absolute;bottom:-8px;left:50%;background-color:#fff;transform:rotate(45deg)}.at-legacy-seller-check__tooltip-icon:hover{cursor:default}.at-legacy-seller-check__tooltip-icon:hover+.at-legacy-seller-check__tooltip-message{display:inline-block}.at-legacy-seller-check__title{margin-top:9px;margin-left:7px;margin-bottom:21px;font-size:20px;color:#333}.at-legacy-seller-check__data{width:50%;padding-right:10px}.at-legacy-seller-check__data--full-width{width:100%}.at-legacy-seller-check__wrapper{display:flex;flex-direction:row}.at-legacy-seller-check-data{display:inline-block;padding-right:24px;width:calc(50% + 10px)}.at-legacy-seller-check-data__content{margin-bottom:5px;padding:0 15px!important}.at-legacy-seller-check-data__face{margin-left:9px;float:left;fill-rule:evenodd}.at-legacy-seller-check-data__face--bad{fill:#f33}.at-legacy-seller-check-data__face--normal{fill:#f2a621}.at-legacy-seller-check-data__face--good{fill:#4ebe5b}.at-legacy-seller-check-data__result{margin-left:47px;margin-bottom:8px;font-size:27px;line-height:27px;color:#969696}.at-legacy-seller-check-data__result--bad{color:#f33}.at-legacy-seller-check-data__result--normal{color:#f2a621}.at-legacy-seller-check-data__result--good{color:#4ebe5b}.at-legacy-seller-check-data__conclusion{position:relative;margin-left:49px;font-size:14px;line-height:20px;color:#333;opacity:.75}.at-legacy-seller-check-data__reasons{margin-top:7px;margin-left:13px}.at-legacy-seller-check-data__list{margin:0;padding:0;list-style:none}.at-legacy-seller-check-data__item{list-style:none;padding-bottom:8px;font-size:13px;line-height:1.4;color:rgba(0,0,0,.5)}.at-legacy-seller-check-data__reason{position:relative;padding-left:35px}.at-legacy-seller-check-data__reason:before{display:block;content:"";width:10px;height:10px;border-radius:100%;position:absolute;left:14px;top:4px}.at-legacy-seller-check-data__reason--positive:before{background-color:#4ebe5b}.at-legacy-seller-check-data__reason--negative:before{background-color:#f33}.at-legacy-seller-check-data__reason--neutral:before{background-color:#f2a621}.at-legacy-seller-check-note{margin-left:11px;position:relative;padding-top:40px;display:inline-block;width:calc(50% - 20px)}.at-legacy-seller-check-note__icon{position:absolute;top:56px;left:16px;fill:#333}.at-legacy-seller-check-note__icon--saved{animation:saveIcon 2s}.at-legacy-seller-check-note__icon--failed{animation:failIcon 2s}.at-legacy-seller-check-note__textarea{display:inline-block;box-sizing:border-box;margin-top:-1px;padding:17px 0 22px 45px;width:100%;max-width:100%;min-height:100%;font-size:12px;line-height:1.5;color:#333;background-color:#fff;background-repeat:no-repeat;background-position:16px 20px;box-shadow:0 1px 2px 0 rgba(0,0,0,.15);border-radius:2px;border:none;outline:none;resize:none;transition:all .2s ease}.at-legacy-seller-check-note__textarea::placeholder{color:rgba(51,51,51,.5);line-height:1.5}.at-legacy-seller-check-note__textarea:focus{box-shadow:0 2px 4px 0 rgba(0,0,0,.15)}@keyframes saveIcon{0%{fill:#4ebe5b}to{fill:#333}}@keyframes failIcon{0%{fill:#f33}to{fill:#333}}.at-mobile-price-widget{padding-left:93px;padding-top:6px}.at-mobile-price-widget__label{display:inline-block;margin-right:8px;padding:2px 8px;border-radius:4px;background-color:#4ebea9;color:#fff;text-align:left;text-transform:none;font-size:12px;font-weight:400}.at-mobile-price-widget__icon{position:relative;top:1px;margin-right:8px;fill:#fff}.at-mobile-price-widget__tooltip{display:inline-block;color:#969696;text-align:left;text-transform:none;font-size:12px;font-weight:400}.p-price .at-mobile-price-widget{padding:0;margin-top:-14px}.at-navigation-widget{width:1200px;margin:-12px auto 17px;display:flex;justify-content:space-between;align-items:center}.at-navigation-widget--reverse{flex-direction:row-reverse}.at-navigation-widget .at-breadcrumbs{display:flex}.at-navigation-widget .at-breadcrumbs--reverse{flex-direction:row-reverse}.at-navigation-widget .at-breadcrumbs .at-breadcrumb{display:inline-flex;align-items:center;justify-content:left}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__item{color:#757575!important;font-size:12px;font-weight:600;line-height:16px;align-items:center;padding:0 7px;height:26px;border:1px solid #e5e5e5;border-radius:4px;transition:all .5s ease;display:flex}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__item:active{text-decoration:none}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__item:hover{border-color:rgba(78,190,169,.3);color:#4ebea9!important;transition:all .5s ease}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__item:hover svg{fill:#4ebea9!important;transition:all .5s ease}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__item-label{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:145px}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__arrow{margin:0 6px;display:flex}.at-navigation-widget .at-breadcrumbs .at-breadcrumb__arrow--reverse{transform:rotate(180deg)}.at-navigation-widget .at-brand-wrap{display:inline-flex;align-items:center;min-height:26px;margin-left:5px;border:1px solid #e5e5e5;border-radius:4px;transition:all .5s ease}.at-navigation-widget .at-brand-wrap__link{color:#757575!important;font-size:12px;font-weight:600;line-height:16px;transition:all .5s ease;padding-left:7px;display:inline-flex;align-items:center}.at-navigation-widget .at-brand-wrap__link:active{text-decoration:none}.at-navigation-widget .at-brand-wrap__link-label{padding-right:8px}.at-navigation-widget .at-brand-wrap__link-img{height:20px;margin:2px 2px 2px 0;border-radius:2px;background-position:100% 100%;background-repeat:no-repeat;background-size:cover}.at-navigation-widget .at-brand-wrap__link--reverse{flex-direction:row-reverse;padding-left:0;padding-right:7px}.at-navigation-widget .at-brand-wrap__link--reverse .at-brand-wrap__link-label{padding-left:8px;padding-right:0}.at-navigation-widget .at-brand-wrap:hover{border-color:rgba(78,190,169,.3);transition:all .5s ease}.at-navigation-widget .at-brand-wrap:hover .at-brand-wrap__link{color:#4ebea9!important;transition:all .5s ease}@media (max-width:1200px){.at-navigation-widget{width:990px}}